<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
          crossorigin="anonymous">

    <title>Save Author</title>
</head>
<body>
<div class="container">
    <h3>Authors | <a th:href="@{/books/list}">Books</a></h3>
    <hr>
    <p class="h4 mb-4">Save Author</p>
    <form action="#" th:action="@{/authors/saveAuthor}"
          th:object="${author}" method="post">

        <input type="hidden" th:field="*{id}">

        <input type="text" th:field="*{firstName}" class="form-control mb-4 col-4" placeholder="First Name">
        <input type="text" th:field="*{lastName}" class="form-control mb-4 col-4" placeholder="Last Name">
        <button type="submit" class="btn btn-info col-2" data-toggle="tooltip">Save</button>
        <a th:href="@{/authors/list}" class="btn btn-danger col-2">
            Cancel
        </a>
    </form>
    <hr>
    <!--<a th:href="@{/authors/list}">Return to Authors List</a>-->
</div>
</body>
</html>
